@media (max-width: 500px) {
    .insightsNav{
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }

    .insightsNavP1{
        display: none;
    }

    .insightsNavP2{
        width: fit-content;
        /* position: absolute;
        top:0%;
        left: 0%;
        padding: 10px; */

    }

    .Header-advantium-text{
        font-size: x-large;
    }

    .insightsNavP3{
        display: none;

    }
    .mobile-menu{
        display: initial;
    }


}


/* ---------- Tablet & small-laptop tweaks (≤ 1024px) ---------- */
@media (max-width: 1024px) {
  .insightsNav{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }

  .insightsNavP1{
   width: 45%;
   display: flex;
    justify-content: start;
    justify-items: center;
    gap: 14px;

  }
   .insightsNavP1 *{
    font-size: 12px;
   }

    .insightsNavP2{
        width: fit-content;
        margin: 0;
       
    
    }

    .Header-advantium-text{
        font-size: 20px;
    }

    .Header-advantium-text img{
        width: 30px;
    }

    .insightsNavP3{
        width: 270px;
        display: flex;
        justify-content: end;
        /* gap: 15px; */
        margin-left: 0;
        padding-left: 0;        
        font-size: 10px important;
    }

    .Header-contactButton{
        padding: 6px 12px;
        font-size: 12px;
    }

    .Header-bookingButton{
        padding: 6px 12px;
        font-size: 12px;
    }

    .Header-nextArrowButton{
padding: 6px;    }

.Header-nextArrowButton .callmadeicon{
    width: 10px important;
    height: 10px important;    
    }

    .mobile-menu{
        display: none;
    }


    



   

}

