@import "tailwindcss";



body{
    background-color: #0f172a;
}
.naresh{
    background-color: #0f172a;
    font-size: 60px;
    color: white;
    z-index: 6;
}


/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




body {
  font-family: 'Poppins', sans-serif;
}
html {
  font-family: 'Poppins', sans-serif;
}